body {
	text-align: center;
	overflow: hidden;
}

h1 {
	background-color: pink;
	padding: 5px;
	margin-left: 370px;
	margin-right: 370px;
	border-radius: 20px;
}

#col1, #col2, #col3 {
	float: left;
	width: 31.9%;
	border: solid 5px pink;
	margin: 5px;
	border-radius: 20px;
	padding-top: 10px;
}


#choc, #oreo, #samoa {
	height: 180px;
}

#guilty {
	clear: both;
	display: block;
	margin: 0 auto;
	height: 250px;
}